@import '../../common-less/variables';

.input {
  padding: @component-spacing / 4;
  margin: @component-spacing / 2;
  border: 1px dotted @cool-green;
  outline: 0;
  line-height: @line-height;
  font-size: @font-size;
  width: 100%;

  &:focus {
    border: 1px dotted @grass;
  }
}