{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "overrides": [
    {
      "files": [ "src/*.js" ],
      "globals": {
        "document": true,
        "window": true
      }
    }
  ],
  "rules": {
    "no-console": [2, { "allow": ["warn", "error"] }],
    "react/forbid-prop-types": 0,
    "react/jsx-filename-extension": 0
  }
}