@import '../add-bag-item/add-bag-item';

.add-item {
  .add-bag-item;

  button {
    background: transparent;
    border: 0;
    outline: 0;
    padding: 0;
    width: 43px + 16px;
    height: 43px;
    cursor: pointer;
    svg {
      fill: @dark-green;
      stroke: @white;
      stroke-opacity: .3;
      transition: stroke .1s ease-in;
    }
    &:hover {
      svg {
        stroke: @grass;
      }
    }
    &:focus {
      svg {
        stroke: @grass;
        stroke-opacity: 1;
      }
    }
    &.item-input__button--disabled {
      opacity: .2;
      cursor: default;
    }
  }
}