@import '../../common-less/variables';

.navigation-item {
  flex-basis: 5.6em;
  padding: 12px 10px 8px 10px;
  margin: 0 2px;
  color: @quick-silver;
  text-align: center;
  text-decoration: none;
  background: fade(@cool-green, 70%);

  &--active {
    color: @black;
    background: fade(@cool-green, 100%);
  }
}