@import '../../common-less/variables';

.shopping-item {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  margin-bottom: 2px;
  line-height: 27px;

  >span {
    &:first-child {
      text-align: left;
      margin-left: 0;
      padding: 8px;
      flex-basis: 85%;
      border-radius: @border-radius 0 0 @border-radius;
    }
    &:last-child {
      padding: 0;
      flex-basis: 15%;
      border-radius: 0 @border-radius @border-radius 0;
    }
    background: @cool-green;
    text-align: center;
    margin-left: 1px;
    border: 1px solid @cool-green;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    outline: 0;
  }

  button {
    background: transparent;
    border: 0;
    outline: 0;
    padding: 0;
    width: 43px + 16px;
    height: 43px;
    cursor: pointer;
  }

  &--purchased {
    >span {
      color: @quick-silver;
      background: #fff;
    }
  }
}